head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Twitter Client
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', type="text/css")
    link(rel='stylesheet' href='css/global.css', type="text/css")