
doctype html
html
  include ./partials/_head.pug
  body
    //- Start message bar 

    //- Start app body
    .bounds.app--body
      //-app headers
      .app--section--header
          .app--section--heading
            h2 #{error}
      
     
    //- End app body